header {
    position: relative;
    width: 100%;
}
#searchList {
    position: absolute;
    top: 50px;
    background-color:#f0f0f0;
    list-style: none;
    padding-left: 0; 
    z-index: 1 
}
#searchList li {
    border-bottom: 1px solid black;
    text-align: left;
    text-overflow: clip;
    background-color: #f0f0f0;
}
#searchList li:hover {
    cursor: grab;
    background-color: white;
}
.card{
    margin: 10px auto;
}
.car img{
    width: 100%;
}
.errormessage{
    text-align: center;
    display: block;
    background-color: red;
    color: white;
    font-size: large;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}
  
h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.navbar-brand {
    padding-left: 130px;
}
  
.d-flex {
    padding-right: 130px;
}
