/*
body {
    background-image: url(./exercise13.jpg);
    background-repeat: repeat;
    background-size: 500px;
}
*/

/*
body {
    background-image: url(./exercise13.jpg);
    background-size: 1200px;
    background-attachment: fixed;
} 
*/

/*
body {
    background-image: url(./exercise14.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-attachment: fixed;
}
*/

/*body {
    background-image: url(./exercise13.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 251, 0);
}
/*