table {
    margin: auto;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    border-spacing: 0px;
}
th {
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
}
tr, td {
    padding-top: 10px;
    padding-bottom: 10px;
}
img {
    height: 100px;
}
tr:nth-child(odd) {
    background: gray
}
tr:hover {
    background-color: yellow;
}
